@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  @apply bg-background text-secondary;
}

/* Header */
.nav-links-wrapper{
  .link{
    opacity: .75;
    @apply transition-opacity;
  }
  .link.active{
    opacity: 1;
  }
}

.side-bar {
  .side-bar-link.active{
    @apply bg-primary font-semibold;
    color: white;
  }
}

.pulseAnimation {
  animation: pulse 300ms ease;
  -webkit-animation: pulse 300ms ease;
}

@keyframes pulse {
  0%{
    scale: 1;
  }
  50%{
    scale: 1.3;
  }
  100%{
    scale: 1;
  }
}

.loader-wrapper{
  height: calc(100vh - 84px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-content{
  padding-block: clamp(2.5rem, 0.0792rem + 10.3286vw, 9.375rem);
}

.cart-grid{
  grid-template-columns: repeat(14, minmax(0, 1fr));
}