@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Inter", sans-serif;
  @apply bg-background text-secondary;
}

/* Header */
.nav-links-wrapper{
  .link{
    opacity: .75;
    @apply transition-opacity;
  }
  .link.active{
    opacity: 1;
  }
}